<section class="main-feed">
    <ul class="main-feed__list">
    <% @photos.each do |photo| %>
        <li class="main-feed__list__item">
            <%= link_to image_tag(photo.image.url()), photo_path(photo) %>
        </li>
    <% end %>
    </ul>
</section>