<p>
  <strong>Title:</strong>
  <%= @photo.location %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @photo.description %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %>
<%= link_to 'Delete', photo_path(@photo), method: :delete, 
                                          data: {confirm: "Are sure you want to delete this photo?"} %>