.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

    // .navigation__wrapper
    &__wrapper {
        @include flex(center, space-between);
        width: 100%;
        height: 64px;
        margin: 0 auto;
        padding: 0 2rem;
    }

    // .navigation__logo
    &__logo {
        h1 {
            font-size: 1.25rem;
            font-weight: 500;
            color: $primary-text;
        }

        a {
            pointer-events: auto;

            &:hover {
                text-decoration: none;
            }
        }
    }

    // .naivgation__links 
    &__links {
        @include flex(center, flex-start);

        // .navigation__links__item
        &__item {
            margin-right: 2rem;
            color: $secondary-text;
            pointer-events: auto;
            transition: 200ms;

            &:hover {
                text-decoration: none;
                color: $primary-text;
            }

            // .navigation__links__items--last
            &--last {
                margin-right: 0;
            }
        }
    }
}

.hori-divider {
    width: 1px;
    height: 1.25rem;
    opacity: 0.5;
    background: $secondary-text;
    margin-right: 1.5rem;
}