<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer-navigation__links">
            <a href="" class="footer-navigation__links__item">Contact</a>
            <a href="show-all.html" class="footer-navigation__links__item footer-navigation__links__item--last">See More</a>
        </div>
    </div>
</footer>