<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer-navigation__links">
            <a href="#" class="footer-navigation__links__item">Contact</a>
            <%= link_to 'See More', photos_path, class: 'footer-navigation__links__item footer-navigation__links__item--last' %>
        </div>
    </div>
</footer>