<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer-navigation__links">
            <a href="mailto:juwan@juwanpetty.com" class="footer-navigation__links__item">Contact</a>
            <%= link_to 'See All', photos_path, class: 'footer-navigation__links__item footer-navigation__links__item--last' %>
        </div>
    </div>
</footer>