<nav class="navigation">
    <div class="navigation__wrapper">
        
        <% if (current_page?(controller: 'photos', action: 'show')) %>
            <a href="index.html">
                <div class="icon-wrapper">
                    <i data-feather="arrow-left"></i>
                </div>
            </a>
        <% else %>
            <div class="navigation__logo">
                <a href="#"><h1>Atlanta Alive</h1></a>
            </div>
        <% end %>


        <div class="navigation__links">
            <a href="#" class="navigation__links__item">Twitter</a>
            <a href="#" class="navigation__links__item">Instagram</a>
            <a href="#" class="navigation__links__item navigation__links__item--last">Facebook</a>
        </div>
    </div>
</nav>