<nav class="navigation">
    <div class="navigation__wrapper">
        
        <% if (params[:controller] == 'photos' && params[:action] == 'show') %>
            <a href="index.html">
                <div class="icon-wrapper">
                    <i data-feather="arrow-left"></i>
                </div>
            </a>
        <% else %>
            <div class="navigation__logo">
                <%= link_to(root_path) do %>
                    <h1>Atlanta Alive</h1>
                <% end %>
            </div>
        <% end %>


        <div class="navigation__links">
            <a href="#" class="navigation__links__item">Twitter</a>
            <a href="#" class="navigation__links__item">Instagram</a>
            <a href="#" class="navigation__links__item navigation__links__item--last">Facebook</a>
        </div>
    </div>
</nav>