<nav class="navigation">
    <div class="navigation__wrapper">
        <div class="navigation__logo">
            <a href="index.html"><h1>Atlanta Alive</h1></a>
        </div>

        <div class="navigation__links">
            <a href="#" class="navigation__links__item">Twitter</a>
            <a href="#" class="navigation__links__item">Instagram</a>
            <a href="#" class="navigation__links__item navigation__links__item--last">Facebook</a>
        </div>
    </div>
</nav>